<div class="page-wrapper">
  <div class="content">
    <img src="assets/sushi.png" border="0" alt="sushi" width="100%">
<%= form_for(@user, url: sessions_path) do |form| %>
	<div class="field">
   <%= form.label :email %><br>
   <%= form.text_field :email %><br>
   <%= form.label :password %><br>
   <%= form.password_field :password %>
 	</div>
 	<div class="actions">
   <%= form.submit "Login" %>
 </div>
</div>
<% end %>