<%= content_tag :center, "YOUR CART" %>
<% unless @items_ordered.empty? %>
  <%= button_to "Clear Cart", "/cart", method: :delete, onclick: "return confirm('Are you sure you want to clear your cart?');" %>
<% else %>
  <%= content_tag :h1, "No items".upcase %>
<% end %>
<% @items_ordered.each do |item| %>
<div style="margin: 10px; padding: 10px; border: 1px solid #000;">
  <%= content_tag :div, class: item[:name].gsub(" ", "-").downcase do %>
    <%= content_tag :h2, item[:name] %>
    <%= content_tag :div, "quantity: #{item[:quantity]}" %>

    <br>

    <%= form_tag "/menu_items/#{item[:id]}/add_to_cart", method: :post do %>
      <%= number_field "menu_item", "amount", style: "width:30px;", value: session[:cart][item[:id].to_s] || 0 %>
      <div class="menu-item-button"><%= submit_tag "Update Quantity" %></div>
    <% end %>

    <br>

    <%= form_tag "/menu_items/#{item[:id]}/add_to_cart", method: :post do %>
      <%= hidden_field "menu_item", "amount", value: "0" %>
      <%= submit_tag "Remove From Cart" %>
    <% end %>
  <% end %>
</div>
<% end %>
