<center>YOUR CART</center>
<% unless @items_ordered.empty? %>
  <%= button_to "Clear Cart", "/cart", method: :delete %>
<% end %>
<% @items_ordered.each do |item| %>
<div class="<%= item[:name].gsub(" ", "-").downcase %>">
  <h2><%= item[:name] %></h2>
  quantity: <%= item[:quantity] %>
  <%= form_tag "/menu_items/#{item[:id]}/add_to_cart", method: :post do %>
    <%= hidden_field "menu_item", "amount", value: "0" %>
    <%= submit_tag "Remove From Cart" %>
  <% end %>
</div>
<% end %>
