<div class="formfield">
<%= form_for(@menu_item) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title, size: 50 %><br>
    <%= form.label :description %><br>
    <%= form.text_field :description, size: 50 %><br>
    <%= form.label :price %><br>
    <%= form.text_field :price %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
