<div class="adminnav"><%= link_to "Back to Admin", admin_path %><a href="#top"></a></div>

<div class="adminwrapper">
<h2>ORDERS</h2>
<p>These are all Nokogiri orders since the dawn of time, a megalist of what's paying our salaries! Always treat them &mdash; and the customers who place them &mdash; with respect.<br>
  おつかれさま。= Thank you for your hard work.</p>

<p>Sort by order status:
  <%= select_tag "status-sort", options_for_select(%w(All Paid Completed Ordered Cancelled)) %><br>
  Showing <%= content_tag :span, @orders.length, id: "show-amt" %> Orders
</p>
</div>

<% @orders.each do |order| user = order.user %>

<div class="orderwrapper <%= "status-#{order.status}" %>">
  <div class="orderinfo">
    <strong>Name:</strong> <%= user.full_name %><br>
    <strong>Username:</strong> <%= user.user_name %><br>
    <strong>Email:</strong> <%= user.email %><br>
    <br>
    <%= button_to "Manage this Order", order_path(order), method: :get %><br>

    <div class="note">This order was placed at <%= order.created_at %><br>
      At <%= order.updated_at %> the status was changed to: <strong><%= order.status %></strong></div>
  </div>

  <%= render partial: "/orders/order", locals: {order: order} %>

</div>
<% end %>

<div class="adminnav"><a href="#top">Back to Top</a></div>
<div style="clear:both;"></div>
