<div class="orderwrapper">
  <div class="orderinfo">
    <strong>Name:</strong> <%= @user.full_name %><br>
    <strong>Username:</strong> <%= @user.user_name %><br>
    <strong>Email:</strong> <%= @user.email %><br>
  </div>
  <div class="orderitem">
    <% @orders.each do |order| %>
      <%= render partial: "/orders/order", locals: {order: order} %>
      <div class="note">This order was placed at <%= order.created_at %><br>
        At <%= order.updated_at %> the status was changed to: <strong><%= order.status %></strong></div>
    <% end %>
  </div>
</div>
