<h4>Your order:</h4>
<div class="orderwrapper">
  <% @items_ordered.each do |item| %>
    <div class="items-in-this-order">
      <%= item[:name] %> total:
      <%= number_to_currency(item[:quantity].to_i * item[:price].to_i / 100.0 ) %>
      <br>
      Quantity: <%= item[:quantity] %> at
      <%= number_to_currency(item[:price] / 100.0) %> each
      <br>
      <br>

    </div>
  <% end %>
  Total order price: <%= number_to_currency(@total_cost / 100.0) %>
</div>
<%= button_to "Place Order", "/orders", method: :post %>
