<h2><%= content_tag :center, "YOUR ORDER" %></h2>
<div class="orderwrapper">
  <% @items_ordered.each do |item| %>
    <div class="items-in-this-order">
      <%= item[:name] %> total:
      <%= number_to_currency(item[:quantity].to_i * item[:price].to_i / 100.0 ) %>
      <br>
      Quantity: <%= item[:quantity] %> at
      <%= number_to_currency(item[:price] / 100.0) %> each
      <br>
      <br>

    </div>
  <% end %>
  Total order price: <%= number_to_currency(@total_cost / 100.0) %>

</div>
<div class="orderwrapper">
<%= form_for @order do |f| %>

  <p>For pickup, come to to Nokogiri in 45 minutes.</p>
  Delivery? <%= f.check_box :delivery %><br>
<div class="note">*All fields are required for delivery.</div><br>
  <%= f.label :street_number, "Street Number"%>
  <%= text_field_tag "address[street_number]" %><br>
  <%= f.label :street, "Street" %>
  <%= text_field_tag "address[street]" %><br>
  <%= f.label :city, "City" %>
  <%= text_field_tag "address[city]" %><br>
  <%= f.label :state, "State" %>
  <%= select_tag "address[state]", options_for_select(@state_abbrs) %><br>
  <%= f.label :zip, "5-Digit Zip Code" %>
  <%= text_field_tag "address[zip]" %><br><br>

  <%= f.submit "Place Order" %>
<% end %>
</div>
