<h4>Your order:</h4>
<div style="border: 1px solid black; margin: 10px; padding: 10px;">
  <% @items_ordered.each do |item| %>
    <div class="items-in-this-order">
      <%= item[:name] %> total:
      <%= number_to_currency(item[:quantity].to_i * item[:price].to_i / 100.0 ) %>
      <br>
      Quantity: <%= item[:quantity] %> at
      <%= number_to_currency(item[:price] / 100.0) %> each
      <br>
      <br>

    </div>
  <% end %>
  Total order price: <%= number_to_currency(@total_cost / 100.0) %>

</div>
<%= form_for @order do |f| %>
  Delivery? <%= f.check_box :delivery %><br>
  <%= f.label :street_number, "Address"%>
  <%= text_field_tag "address[street_number]" %><br>
  <%= f.label :street, "Address 2" %>
  <%= text_field_tag "address[street]" %><br>
  <%= f.label :city, "City" %>
  <%= text_field_tag "address[city]" %><br>
  <%= f.label :state, "State" %>
  <%= text_field_tag "address[state]" %><br>
  <%= f.label :zip, "Zip Code" %>
  <%= text_field_tag "address[zip]" %><br>

  <%= f.submit "Place Order" %>
<% end %>
