<div class="page-wrapper">
    <div class="content">
    <p>Your mom... is testing the menu page</p>

    <div class="menu-item">
      <%= "Title" %><br>
      <%= "Description" %><br>
      <%= "Price" %>
    </div>
    <div class="menu-item">
      <%= "Title" %><br>
      <%= "Description" %><br>
      <%= "Price" %>
    </div>
  </div>
</div>
