<header class="header">
  <img src="/assets/lumberjack.png" alt="Japanese Lumberjack">
  <subnav>
    <%= link_to "Shopping cart (#{session[:cart].keys.length})", "/cart" %> |
    <% if current_user %>
      <%= link_to "Logout", logout_path, id: 'logout', method: 'delete' %>
    <% else %>
      <%= link_to "Sign in", "/login" %> | <%= link_to "Sign up", new_user_path %>
    <% end %>
  </subnav>
  <h1>NOKOGIRI SUSHI</h1>
  <nav>
    <ul>
      <li><%= link_to "HOME",     "/"         %></li>
      <li><%= link_to "ABOUT",    "/about"    %></li>
      <li><%= link_to "MENU",     "/menu"     %></li>
      <li><%= link_to "CONTACT",  "/contact"  %></li>
    </ul>
  </nav>
  <div style="clear: both;"></div>
</header>
