<!DOCTYPE html>
<html>
<head>
  <title>Nokogiri Sushi</title>
  <link rel="shortcut icon" href="assets/favicon.ico"/>
  <link href='http://fonts.googleapis.com/css?family=Lato:900,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <%= render "/layouts/header" %>
  <div class="page-wrapper">
    <div class="content">
      <img src="/assets/sushi.png" border="0" alt="sushi" width="100%">
      <%= yield %>
    </div>
  </div>
  <%= render "/layouts/footer" %>
</body>
</html>
